<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 d-flex justify-content-center">
        <iframe src="http://54.162.155.36:5601/app/kibana?security_tenant=private#/dashboard/f50cfc90-5fc0-11ea-a5f6-45fdabf1b4e5?embed=true&_g=(filters%3A!())" height="600" width="800"></iframe>
    </div>
    <div class="col-md-1"></div>
</div>
