
<link href="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
<link href="~/Content/bootstrap-table-page-jump-to.min.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="~/Scripts/bootstrap-table-page-jump-to.min.js"></script>

<table id="table"
       data-height="460"
       data-pagination="true"
       data-search="true">
    <thead>
        <tr>
            <th data-field="id">ID</th>
            <th data-field="name">Item Name</th>
            <th data-field="price">Item Price</th>
            <th data-field="action">Action</th>
        </tr>
    </thead>
</table>

<script src="~/Scripts/Views/home.js"></script>