.logo-img {
    height: 30px;
    margin-top: -7px;
    margin-left: 100px;
}
.delete-button-custom {
    font-size: 17px;
    cursor: pointer;
}

.priority {
    float: left;
    font-size: 17px;
}

.priority-text {
    float: left;
    padding-left: 10px;
}
